@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff5f7;
  overscroll-behavior-y: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Safe area padding for iPhones with notches */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}